@use "./styles/reset.scss";
@use "./styles/common.scss";
@use "./styles/colors" as colors;

.introduction {
    padding: 2.25rem 0 0 2.25rem;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("./assets/hero/mobile/mobile-leaves.png"), url("./assets/hero/mobile/mobile-plantperson.png");
    background-position: center top, center 95%;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 70%, 276px 234px;
    background-color: colors.$main-green;
    color: #fff;

    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: 500px;
        padding-left: 0;
        background-image: url("./assets/hero/desktop/left-leaves.png"), url("./assets/hero/desktop/right-leaves.png"), url("./assets/hero/desktop/plantperson.png");
        background-position: left top, right top, 67% center;
        background-size: 51% 100%, 26% 100%, 335px 428px;
    }

    @media screen and (min-width: 1440px) {
        background-size: 60% 100%, 30% 100%, 335px 428px;
    }

    &__content {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }

    &__logo {
        margin-bottom: 2rem;
    }

    &__title {
        width: 250px;
        margin-bottom: 1rem;

        @media screen and (min-width: 1024px) {
            width: 400px;
        }
    }

    .link {
      &__icon{
          width: 2.25rem;
          height: 2.5rem;
      }
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.no-results {
    padding: 3rem 2.25rem;
    min-height: 100vh;
    background-color: colors.$main-white;

    @media screen and (min-width: 1024px) {
        min-height: initial;
        padding: 3rem 0;
        flex-grow: 1;
    }

    &__content {
        max-width: 900px;
        margin: 0 auto;
    }

    &__title {
        font-weight: bold;
        font-size: 3rem;
        line-height: 3.5rem;
        color: colors.$secondary-gray;
        margin-bottom: 1rem;
    }

    &__subtitle {
        font-size: 1rem;
        line-height: 1.5rem;
        color: colors.$secondary-gray;
        margin-bottom: 2rem;
    }

    &__image {
        display: block;
        margin: 0 auto;
        width: 86px;
        height: auto;
    }
}

.results {
    padding: 3rem 0;
    background-color: colors.$main-white;
    min-height: 100vh;

    &__header {
        margin: 0 auto;
        max-width: 900px;
        padding: 0 2.25rem;

        @media screen and (min-width: 1024px) {
            padding: 0;
        }
    }

    &__illustration {
        height: 75px;
        width: auto;
        margin-bottom: 1rem;
    }

    &__title {
        line-height: 3rem;
        color: colors.$secondary-green;
        margin-bottom: 1rem;
    }

    &__back-button {
        padding: 0 2.25rem;
        max-width: 900px;
        margin: 0 auto;
    }
}